body {    
    margin: 0 !important;
    padding: 0 !important;
}

#topBar {
height:14%;
 background-color:yellow;
 width: 100%;
 display:inline-block;
 vertical-align:middle;
overflow:hidden;
    margin: 0px;
    padding: 0px;
}

a.active{
	background-color:green;
}

img.petPics{
	height:30%;
	width:20%;
	
}


#headerImage{
width:auto;
height:50%;
border-style:double;
border-color:grey;
border-width:5px;
vertical-align:middle;
position: relative ;
top: -2px; 
}
#headerText{
position: relative ;
left: .5%;
text-align: left;
font-family: Arial, Helvetica, sanserif;
font-size: .65em;
}

#footerText{
text-align:center;
font-size: .60em;
}

#menu{
float:left;
width: 15%;
height: 5000px;
}

#homeContent{
font-size: large;
}


#Footer{
position:fixed;
bottom: 0;
width: 100%;
height:5%;
background-color:#f1f1f1;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height:5000px;
	background-color: #f1f1f1;
}

li a{
	display: block;
	color: #000;
	padding: 8px 0 8px 20px;
	text-decoration: none;
}

li a:hover{
	background-color:grey;
	color:white;
}

li a:active{
	background-color:green;
	color:white;
}
